{% extends 'base.html' %}

{% block title %}Edit Payment{% endblock %}

{% block content %}
<h1 class="mb-4">Edit Payment</h1>
<form action="{{ url_for('edit_payment', payment_id=payment[0]) }}" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" class="form-control" value="{{ payment[2] }}" required>
    </div>
    <div class="form-group">
        <label for="date">Payment Date:</label>
        <input type="date" id="date" name="date" class="form-control" value="{{ payment[3] }}" required>
    </div>
    <div class="form-group">
        <label for="status">Payment Status:</label>
        <select name="status" class="form-control" required>
            <option value="Paid" {% if payment[4] == 'Paid' %}selected{% endif %}>Paid</option>
            <option value="Pending" {% if payment[4] == 'Pending' %}selected{% endif %}>Pending</option>
        </select>
    </div>
    <div class="form-group">
        <label for="payment_method">Payment Method:</label>
        <select id="payment_method" name="payment_method" class="form-control" required>
            <option value="Cash" {% if payment[5] == 'Cash' %}selected{% endif %}>Cash</option>
            <option value="Credit Card" {% if payment[5] == 'Credit Card' %}selected{% endif %}>Credit Card</option>
            <option value="Bank Transfer" {% if payment[5] == 'Bank Transfer' %}selected{% endif %}>Bank Transfer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Update Payment</button>
</form>
{% endblock %}
