{% extends 'base.html' %}

{% block title %}Food Menu{% endblock %}

{% block content %}
<h1 class="mb-4">Weekly Food Menu</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Meal Type</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item['date'] }}</td>
            <td>{{ item['meal_type'] }}</td>
            <td>{{ item['items'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
